@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');
* {margin: 0; padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif}
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }

.detail-content-2 .columns {
    display: flex;
    justify-content: space-between;
}

.detail-content-2 {
    display: flex;
    flex-wrap: wrap;
}

.detail-content-2 .content h5 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-bottom: 56px;
}

.detail-content-2 .content {
    width: 48.6%;
    height: 290px;
    margin-top: 103px;
}

.detail-content-1 .content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 32px;
}

.detail-content-1 .content input {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737B7D;
    padding: 11px 16px;
    border: none;
    background: #F4F5F4;
    width: 374px;
    margin-right: 24px;
    margin-bottom: 16px;
}

.detail-content-1 .content {
    width: 540px;
    margin-left: 30px;
    margin-top: 80px;
}

.detail-content-1 .content h5 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-bottom: 32px;
}

.detail-content-1.container {
    display: flex;
    flex-wrap: wrap;
}

.discover-content .icon img {margin: 0 auto;margin-bottom: 24px;}
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.detail-content-3.container column {
    width: 255px;
}

.detail-content-2 .columns .column {
    width: 47%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
}

.detail-content-2 .columns .column p {
    margin-top: 16px;
}

.detail-content-2 .img {
    margin-top: 28px;
    width: 48.6%;
}

.discover-content .texttual {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #3C64B1;
    padding: 12px 0px;
}

.discover-content .title-text h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-bottom: 12px;
}

.discover-content .title-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin-bottom: 22px;
}

.discover-content .column {
    text-align: center;
    width: 350px;
}

.shipping h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-top: 60px;
    margin-bottom: 24px;
}

.shipping p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 35px;
}

.banner .title-text {
    padding-top: 137px;
}

.banner {
    background: #EBECEB;
}

.banner .buttons {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 150px;
}

.banner .buttons .contained {
    color: white;
    padding: 12px 18px;
    background: #3C64B1;
    margin-right: 24px;
}

.banner a.outlined {
    border: 1px solid #3C64B1;
    padding: 12px 18px;
}

.banner h3 {
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin-bottom: 32px;
}

.banner p {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 56px;
}

.banner .content {width: 51%;margin: 0 auto;}
  
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  
  input {
    line-height: normal;
  }
  
  label,
  button {
    cursor: pointer;
  }

.detail-content-1 .content button {
    padding: 12px 18px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    background: #3C64B1;
    margin-bottom: 16px;
}
  
  a {
    text-decoration: none;
  }

a.fa.fa-close {
    display: none;
}

a.fa.fa-bars {
    display: none;
}
  
  img {
    display: block;
    max-width: 100%;
  }

.detail-content-1 img {
    margin: 80px 0px;
    width: 540px;
}
  ul,li{
      list-style: none;
  }
.navbar-right {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}

a.nav-link {
    margin-right: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #373F41;
}

.navbar-collapse .navbar-nav {display: flex;}

nav.navbar {
    display: flex;
    background: #F3F6FA;
}


.navbar-right a.left {
    color: #3C64B1;
    margin-right: 20px;
}

.navbar-right a.right {
    color: #FFFFFF;
    padding: 12px 18px;
    background: #3C64B1;
}

a.navbar-brand {
    width: 70px;
    height: 43px;
    margin: 26px 0px 19px 0px;
}

.container{
    width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.detail-content-3.container {display: flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 95px;}

.detail-content-3.container .column {
    width: 255px;
}

.detail-content-3.container .column h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 12px 0px;
}

.detail-content-3.container .column p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
}

.detail-content-2.container {
    justify-content: space-between;
    height: 600px;
}

.discover-content.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (min-width :1200px){
* {padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif;}
  .container{
    max-width: 1140px;
  }
}
@media only screen and (min-width:992px) and (max-width:1199px){
    * {margin: 0; padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif}

.detail-content-2 .content {
    margin-top: 45px;
}

.detail-content-1 .content {
    width: 360px;
}

.banner .content {
    width: 67%;
}
  .container{
    max-width: 960px;
  }

.detail-content-3.container .column {width: 20%;}
}
@media only screen and (min-width:768px) and (max-width:991px){
    * {margin: 0; padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif}

.detail-content-3.container .column {
    width: 30%;
}

.detail-content-3.container .column img {
    margin-top: 20px;
}

.detail-content-2 .columns {position: absolute;margin-top: 27px;}

.detail-content-2 .content {
    margin-top: 72px;
}
.detail-content-1 .content {
    margin: 0 auto;
}

.detail-content-1 img {
    margin: 0 auto;
}


.banner .content {
    width: 90%;
}
  .container{
    max-width: 720px;
  }

}
@media only screen and (max-width:767px)  and (min-width:376px){
* {margin: 0; padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif}

.detail-content-1 img {
    margin-bottom: 20px;
}

.detail-content-1 .content {
    margin: 0 auto;
}


.shipping h3 {
    font-size: 18px;
    margin-bottom: 7px;
    line-height: 24px;
}


.shipping {
    width: 90%;
    margin: 0 auto;
}

.banner .content {
    width: 80%;
}

.banner .buttons {
    padding-bottom: 50px;
    font-size: 12px;
}

.banner .title-text {
    padding-top: 50px;
}

.banner .title-text h3 {
    font-size: 32px;
    line-height: 43px;
}


  .container{
    max-width: 400px;
  }

.detail-content-3.container {
    margin-top: 146px;
}
.detail-content-2.container {
    display: flex;
    flex-wrap: wrap;
}

.detail-content-2.container .content {
    margin: 0;
    width: 100%;
}

.detail-content-2.container .img {
    width: 100%;
    margin-top: 115px;
}


.detail-content-3.container .column {
    width: 100%;
}

.detail-content-3.container .column img {
    width: 100%;
}

.detail-content-3.container .column p {
    margin-bottom: 10px;
}
  
}
@media only screen and (max-width: 375px){
  * {margin: 0; padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif}

.banner .content {
    width: 80%;
}

ul.navbar-nav {flex-wrap: wrap;font-size: 20px;}

.navbar-right {
    margin-right: 27px;
}

.navbar-right .right {margin-right: 10px;}

.shipping h3 {
    font-size: 21px;
    line-height: 28px;
}

.shipping p {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.banner .buttons .contained {
    margin-right: 0px;
    margin-bottom: 15px;
}

.banner .buttons {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.banner .content h3 {
    font-size: 18px;
    line-height: 27px;
}

.banner .title-text {padding-top: 51px;}
  .container{
    max-width: 350px;
  }

.detail-content-3.container .column {
    width: 100%;
}

.detail-content-3.container .column img {
    width: 100%;
}

.detail-content-3.container .column p {
    margin-bottom: 15px;
}

.detail-content-2.container {
    display: block;
}

.detail-content-2.container .img {
    margin: 0;
    width: 100%;
}

.detail-content-2.container .content {
    margin: 0;
    width: 100%;
}

.detail-content-2.container h5 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.detail-content-1.container .content {
    margin: 0;
    width: 100%;
}

.detail-content-1.container .content input {
    margin: 0;
    margin-bottom: 10px;
    width: 90%;
}

.detail-content-1.container .content h5 {
    font-size: 28px;
}
}
@media only screen and (max-width: 320px){
    a.fa.fa-bars {
        font-size: 30px;
        position: fixed;
        top: 27px;
        right: 10px;
        display: block;
    }
    .navbar-collapse {
        display: block;
        position: fixed;
        width: 77px;
        top: 106px;
        left: -200px;
        background: #bbb8c9;
        padding-left: 10px;
        text-decoration: underline;
        padding-bottom: 10px;
        transition: 0.5s;
    }

.navbar-collapse.menu.ra {
    left: 0px;
    transition: 0.5s;
}
}
@media only screen and (max-width: 767px) and (min-width: 321px){
    .navbar-collapse {
        display: block;
        position: absolute;
        top: 101px;
    }
}